<tr>
  <td class="text-center">
    <%= console.id %>
  <td>
    <div>
      <%= console.name %>
    </div>
  </td>
  <td>
    <div>
      <%= console.abbreviation %>
    </div>
  </td>
  <td>
    <div>
      <%= console.games.count %>
    </div>
  </td>
  <td>
    <div>
      <%= console.created_at %>
    </div>
  </td>
</tr>
