<div class="row console-search-results">
  <% if @searched_console.nil? %>
    <div class="col-md-12">
      <p class="text-center">No console was found matching your search.</p>
    </div>
  <% elsif @already_added %>
  <div class="col-md-12">
    <p class="text-center"><%= @searched_console["name"] %> has already been added.</p>
  </div>
  <% else %>
    <div class="col-md-12">
      <%= form_tag(admin_consoles_search_path, method: "post") do %>
        <div class="form-group col-md-12">
          <%= label_tag "Name" %>
          <%= text_field_tag :name, @searched_console["name"], class: "form-control", id: "add-console-name", disabled: true %>
        </div>

        <div class="form-group col-md-12">
          <%= label_tag "Abbreviation" %>
          <%= text_field_tag :abbreviation, nil, placeholder: "(Optional)", class: "form-control", id: "add-console-abbreviation" %>
        </div>

        <div class="form-group col-md-12">
          <%= button_tag("Add Console", type: "submit", name: nil, class: "btn btn-success", id: "add-console-submit-btn") %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
