<li class="msg-usr-<%= message.user.username %>">
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at.getutc.iso8601 %>" title="<%= message.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%a %b %e %Y %r EST") %>">
      <%= message_interlocutor(message).username %> • <%= message.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%l:%M %p EST") %>
    </time>
  </div>
</li>
