<div class="row profile-show">
  <div class="col-sm-6 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 text-center">
    <div class="row">
      <h2 class="col-lg-12"><%= @profile.user.username %></h2>
      <%= link_to "Edit Profile", edit_profile_path, class: "col-lg-12" if @profile.user == current_user %>

      <% if @profile.psn_id && @profile.psn_id_public? %>
        <div class="col-lg-6 <%= "col-lg-offset-3" if !@profile.xbox_gamertag || !@profile.xbox_gamertag_public? %> gaming-names">
          <h5>PSN ID</h5>
          <p><%= @profile.psn_id %></p>
        </div>
      <% end %>

      <% if @profile.xbox_gamertag && @profile.xbox_gamertag_public? %>
        <div class="col-lg-6 <%= "col-lg-offset-3" if !@profile.psn_id || !@profile.psn_id_public? %> gaming-names">
          <h5>Xbox Gamertag</h5>
          <p><%= @profile.xbox_gamertag %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4 text-center profile-info">
    <div class="row">
      <% if @profile.about_me %>
        <div class="col-lg-12 about-me">
          <h5>About Me</h5>
          <p><%= @profile.about_me %></p>
        </div>
      <% end %>

      <% if @profile.zipcode %>
        <div class="col-lg-12 location">
          <h5>Location</h5>
          <p><%= @profile.zipcode %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-lg-6 col-lg-offset-3 owned-consoles">
    <div class="well text-center">
      <h4><%= "My" if @user == current_user %> Consoles</h4>

      <% if @user.consoles.present? %>
        <% @user.consoles.each do |console| %>
          <%= console.name %>
          <%= "|" if @user.consoles.last != console %>
        <% end %>
      <% else %>
        <% if @user == current_user %>
          <p>You haven't added any consoles yet.</p>
        <% else %>
          <p><%= @user.username %> hasn't added any consoles yet.</p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-lg-10 col-lg-offset-1 owned-games">
    <div class="well">
      <h3 class="text-center"><%= "My" if @user == current_user %> Games</h3>

      <% if @user.consoles.present? %>
        <div class="row">
          <% @user.games.each do |game| %>
            <div class="col-sm-6 col-md-4 col-lg-3 index-game-div" id="owned-game-<%= game.id %>">
              <div class="index-cover-image-div">
                <%= image_tag(game.cover_image.url, height: "150", class: "index-cover-image") %>
              </div>
              <h4 class="text-center"><%= link_to game.name, game_path(game) %></h4>
              <p class="text-center">
                <% game.ownerships.where(user: @user).sort { |a, b| a.console_id <=> b.console_id }.each do |ownership| %>
                  <%= ownership.console.abbreviation || ownership.console.name %>
                  <%= "/" if game.ownerships.where(user: @user).sort { |a, b| a.console_id <=> b.console_id }.last != ownership %>
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      <% else %>
        <% if @user == current_user %>
          <p>You haven't added any games yet.</p>
        <% else %>
          <p><%= @user.username %> hasn't added any games yet.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
