<tr>
  <td class="text-center">
    <%= ownership.id %>
  <td>
    <div>
      <%= ownership.user.username %>
    </div>
  </td>
  <td>
    <div>
      <%= ownership.game.name %>
    </div>
  </td>
  <td>
    <div>
      <%= ownership.console.name %>
    </div>
  </td>
  <td>
    <div>
      <%= ownership.created_at %>
    </div>
  </td>
</tr>
