<div class="row admin-dashboard">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 class="text-center">Administrative Dashboard</h2>

        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-2 users-count">
            <span>Total Users</span>
            <div><%= @user_count %></div>
          </div>

          <div class="col-xs-6 col-sm-4 col-md-2 games-count">
            <span>Total Games</span>
            <div><%= @game_count %></div>
          </div>

          <div class="col-xs-6 col-sm-4 col-md-2 consoles-count">
            <span>Total Consoles</span>
            <div><%= @console_count %></div>
          </div>

          <div class="col-xs-6 col-sm-4 col-md-2 ownerships-count">
            <span>Total Ownerships</span>
            <div><%= @ownership_count %></div>
          </div>

          <div class="col-xs-6 col-sm-4 col-md-2 lfgs-count">
            <span>Total LFGs</span>
            <div><%= @lfg_count %></div>
          </div>

          <div class="col-xs-6 col-sm-4 col-md-2 conversations-count">
            <span>Total Conversations</span>
            <div><%= @conversation_count %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
