<div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="addGameModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </button>
        <h3 class="modal-title" id="addGameModalLabel">Add Game</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <%= form_tag(new_admin_game_path, method: "get", class: "navbar-form navbar-left") do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Search For Game", class: "form-control", id: "add-game-search" %>
              <div class="input-group-btn">
                <%= button_tag(type: "submit", name: nil, class: "btn btn-default", id: "search-btn") do %>
                  <span class="glyphicon glyphicon-search"></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <% if @searched_games %>
          <div class="row">
            <% @searched_games.each do |searched_game| %>
              <div class="col-sm-6 col-md-4 col-lg-4 add-game-div">
                <div class="index-cover-image-div">
                  <%= image_tag("https://images.igdb.com/igdb/image/upload/t_cover_big/#{searched_game['cover']['cloudinary_id']}.jpg", height: "150", class: "add-game-cover-image") if searched_game.has_key?('cover') %>
                </div>
                <h4 class="text-center"><%= searched_game["name"] %></h4>
                <% if searched_game.has_key?("release_dates") %>
                  <p class="text-center">
                    <% applicable_consoles(searched_game["release_dates"]).each do |c| %>
                      <%= themed_console_name(c, true) %>
                      <%= "/" if applicable_consoles(searched_game["release_dates"]).last != c %>
                    <% end %>
                  </p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
