<div class="row games-search-results">
  <% if @searched_games.empty? %>
    <div class="col-md-12">
      <p class="text-center">No games were found matching your search.</p>
    </div>
  <% end %>
  <% @searched_games.each do |searched_game| %>
    <div class="col-sm-6 col-md-4 col-lg-4 add-game-div">
      <div class="index-cover-image-div <%= add_game_check(searched_game) %>" data-api-game-id="<%= searched_game['id'] %>">
        <%= image_tag("https://images.igdb.com/igdb/image/upload/t_cover_big/#{searched_game['cover']['cloudinary_id']}.jpg",
          height: "150", class: "add-game-cover-image") %>
        <div class="overlay">
          <div class="text">
            <span class="glyphicon glyphicon-plus"></span> Add
          </div>
        </div>
      </div>
      <h4 class="text-center"><%= searched_game["name"] %></h4>
      <p class="text-center">
        <% applicable_consoles(searched_game["release_dates"]).each do |c| %>
          <%= themed_console_name(c, true) %>
          <%= "/" if applicable_consoles(searched_game["release_dates"]).last != c %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
