<div class="col-sm-6 col-md-4 col-lg-3 index-game-div">
  <div class="index-cover-image-div">
    <%= link_to game_path(game) do %>
      <%= image_tag(game.cover_image.url, height: "150", class: "index-cover-image") %>
    <% end %>
  </div>
  <h4 class="text-center"><%= link_to game.name, game_path(game) %></h4>
  <p class="text-center">
    <% game.consoles.order(:name).each do |c| %>
      <%= themed_console_name(c, true) %>
      <%= "/" if game.consoles.order(:name).last != c %>
    <% end %>
  </p>
</div>
