<div class="panel panel-default">
  <div class="panel-body">
    <% @consoles.each do |c| %>
      <%= link_to c.name, games_path(console: c.id), class: "btn btn-default" %>
    <% end %>
  </div>
</div>
<div class="row">
  <% @games.each do |game| %>
    <div class="col-sm-6 col-md-4 col-lg-3 index-game-div">
      <div class="index-cover-image-div">
        <%= image_tag(game.cover_image.url, height: "150", class: "index-cover-image") %>
      </div>
      <h4 class="text-center"><%= link_to game.name, "#" %></h4>
      <p class="text-center">
        <% game.consoles.each do |c| %>
          <% if c.abbreviation %>
            <%= c.abbreviation %>
          <% else %>
            <%= c.name %>
          <% end %>
          <%= "/" if game.consoles.last != c %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
