<div class="panel panel-default index-filters">
  <div class="panel-body">
    <%= render partial: "filters" %>
  </div>
  <div class="index-games-sort text-center">
    <%= render partial: "sort_bar" %>
  </div>
</div>
<% if params[:search] && @games.blank? %>
  <p class="search-apology">We're sorry but we couldn't find the game you're looking for.</p>
<% end %>
<div class="row browse-games-results">
  <%= render partial: "game", collection: @games %>
</div>
<div class="row text-center pagination-div">
  <%= will_paginate @games %>
</div>
<div class="row text-center load-more-div">
  <% if @games.next_page %>
    <%= render partial: "load_more" %>
  <% end %>
</div>
