<div class="row show-game">
  <div class="col-sm-6 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-1 text-center">
    <%= image_tag(@game.cover_image.url, class: "show-cover-image") %>
  </div>
  <div class="col-sm-6 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
    <h2 class="text-center"><%= @game.name %></h2>
    <br>
    <p class="text-center">
      <% @game.consoles.each do |c| %>
        <%= c.name %>
        <%= "/" if @game.consoles.last != c %>
      <% end %>
    </p>
    <p class="text-center">
      <%= "Online" if @game.online %>
      <%= "/" if @game.online && @game.split_screen %>
      <%= "Split Screen" if @game.split_screen %>
    </p>
  </div>
</div>
