<tr>
  <td class="text-center">
    <%= lfg.id %>
  <td>
    <div>
      <%= lfg.user.username %>
    </div>
  </td>
  <td>
    <div>
      <%= lfg.game.name %>
    </div>
  </td>
  <td>
    <div>
      <%= lfg.console.name %>
    </div>
  </td>
  <td>
    <div>
      <%= lfg.specifics %>
    </div>
  </td>
  <td>
    <div>
      <%= lfg.created_at %>
    </div>
  </td>
</tr>
