<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title" id="userModalLabel"><%= @user.username %></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <h5>First Name:</h5>
            <%= @user.first_name %>
          </div>
          <div class="col-xs-6">
            <h5>Last Name:</h5>
            <%= @user.last_name %>
          </div>

          <div class="col-xs-12">
            <h5>Email:</h5>
            <%= @user.email %>
          </div>

          <div class="col-xs-6 col-sm-3">
            <h5>Games</h5>
            <%= @user.games.count %>
          </div>

          <div class="col-xs-6 col-sm-3">
            <h5>Consoles</h5>
            <%= @user.consoles.count %>
          </div>

          <div class="col-xs-6 col-sm-3">
            <h5>Ownerships</h5>
            <%= @user.ownerships.count %>
          </div>

          <div class="col-xs-6 col-sm-3">
            <h5>LFGs</h5>
            <%= @user.lfgs.count %>
          </div>

          <div class="col-md-12">
            <h5>Account Status(Active/Deleted)</h5>
            <% if @user.deleted_at %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= @user.deleted_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %e, %Y %r EST") %>
            <% else %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
