<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <title>LFGamer</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://use.fontawesome.com/02f7f0c065.js' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar-collapse-1"
                    aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "LFGamer", root_path, class: "navbar-brand" %>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to "Games", games_path %>
              </li>
            </ul>
            <%= form_tag(games_path, method: "get", class: "navbar-form navbar-left") do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], placeholder: "Search Games", class: "form-control", id: "search-box" %>
                <div class="input-group-btn">
                  <%= button_tag(type: "submit", name: nil, class: "btn btn-default", id: "search-btn") do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </div>
              </div>
            <% end %>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li class="dropdown user-nav-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.username %> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><%= link_to "My Profile", profile_path(current_user.profile) %></li>
                    <li><%= link_to "My Account", edit_user_registration_path %></li>
                  </ul>
                </li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: "sign-out-btn" %></li>
              <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="container" id="main-div">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">Our game information was freely provided by IGDB.com</p>
      </div>
    </footer>
  </body>
</html>
